@model User
@{
    ViewData["Title"] = "موفقیت ثبت نام";
}
<div class="alert-success">
    <br />

  @*  <h1>فعال سازی اکانت</h1>*@
    <br />

    <h2>کاربر @Model.UserName ثبت نام شما با موفقیت انجام شد</h2>
    <br />
    <h3> جهت فعال سازی اکانت شما لطفا روی لینکی که به ایمیل شما ارسال شد کلیک نمایید </h3>
    <br />
</div>


